**Задача 44.**
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца.
Ваша задача перевести его в one hot вид.
Сможете ли вы это сделать без get_dummies?

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  human
3  robot
4  robot

In [5]:
data = pd.DataFrame(random.sample(['human', 'robot']*10, 20) ,columns={'whoAmI'})

data

   whoAmI
0   robot
1   human
2   robot
3   human
4   robot
5   robot
6   human
7   human
8   robot
9   human
10  robot
11  robot
12  human
13  human
14  robot
15  human
16  robot
17  human
18  human
19  robot

In [6]:
data = pd.DataFrame({'robot': [1 if i == 'robot' else 0 for i in lst],
                             'human': [1 if j == 'human' else 0 for j in lst]})
data

    robot  human
0       1      0
1       0      1
2       0      1
3       1      0
4       1      0
5       1      0
6       1      0
7       0      1
8       0      1
9       0      1
10      1      0
11      1      0
12      0      1
13      1      0
14      0      1
15      0      1
16      1      0
17      1      0
18      0      1
19      0      1